<div>
  <p class="login-cheat-params">
    <span style="font-weight: bold">User:</span>
    usuario1@gmail.com
    <span style="font-weight: bold"> &nbsp; Password:</span>
    123456
  </p>
</div>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/Login-image.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]= "loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <input type="text" id="login" class="fadeIn second" placeholder="User" formControlName="usuario">
      <input type="password" id="password" class="fadeIn third" placeholder="password" formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div class="alert alert-danger" *ngIf="errorStatus">
      <span>{{errorMessage}}</span>
    </div>

  </div>
</div>