footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #fff;
}